body,html {
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    th {
        font-weight: bold;
    }
    td, th {
        padding: .5rem 1rem ;
        border: 1px solid rgba(215, 212, 212, 0.6);
    }
}